<div class="container container-size">
  <div class="row">

    <div class="col-2" style="text-align:center;">
      <%= render 'diaries/menu' %>
    </div>

    <div class="offset-1 col-7">
        <%= render 'users/users/user_info' %>
      <h2 class="mt-5" style="text-align:center;"><%= @user.name %>さんのペット</h2>
        <%= render 'users/pets/pet_table' %>
    </div>
  </div>
</div>