<div class="container container-size">
  <div class="row">

    <div class="col-2 mt-4">
      <%= render 'users/diaries/menu' %>
    </div>

    <div class="offset-1 col-6 mt-4">
      <h1 style="text-align:center;">日記一覧</h1>
      <div class="diary-table">
        <%= render 'users/diaries/diary_table' %>
        <div class="kaminari"><%= paginate @diaries %></div>
      </div>
    </div>

    <div class="col-3 mt-4">
      <%= render 'layouts/right_menu' %>
    </div>
  </div>
</div>
