<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with(model:[@question, Answer.new], local: true) do |f| %>
        <div class="my-3">
          <label>回答</label><br>
          <%= f.text_area :answer_body, size: "60x6", class:"col-12" %>
        </div>
        <div class="col-12 mt-4 text-right">
          <%= f.submit '回答する', class:"btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>