<div class="container container-size">
  <div class="row">
    <div class="col-2">
      <%= render 'users/questions/menu' %>
    </div>

    <div class="offset-1 col-6 mt-4">
      <div>
        <h2 style="text-align:center;">Ｑ＆Ａ</h2>
        <%= render 'users/questions/question_table' %>
      </div>
    </div>
  </div>
</div>