<body class="about-body">
  <header class="about-title">
    <h1>どうぶつの村で出来ること</h1>
    <P>
      飼っているペットの成長記録を日記として投稿したり、<br>
      他の方のペットの成長記録が見れたり、<br>
      ペットに関してのＱ＆Ａが出来たり...<br>
      どうぶつの村で出来ることを紹介します。
    </P>
  </header>

  <main>
    <ul class="contents">
      <li class="animationTarget">
        <img src="<%= asset_path('/home/about1.jpg') %>" alt="">
        <div class="contentsText">
          <h2>①飼っているペットの成長記録をつけられます。</h2>
          <p>
            一緒に暮らしているペットを登録して、写真にコメントを付けて登録できます。<br>
            カレンダー機能を搭載しているので、成長記録だけでなく 思い出帳としてもお使い頂けます。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <img src="<%= asset_path('/home/about2.jpg') %>" alt="">
        <div class="contentsText">
          <h2>②他の方が飼っているいろいろなペットの日記が見れます。</h2>
          <p>
            世界中のみんなが投稿した写真が日記一覧にどんどん並ぶので、眺めているだけでも楽しいです。<br>
            いいなと思った投稿には いいねをしたり、コメントを残したり出来ます。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <img src="<%= asset_path('/home/about3.jpg') %>" alt="">
        <div class="contentsText">
          <h2>③お気に入りの日記をまとめて見られる</h2>
          <p>
            いいなと思った日記を お気に入りする事によって、後でまとめて見ることが出来ます。<br>
            可愛い写真があると ふいに見返したくなりますよね。
          </p>
        </div>
      </li>

      <li class="animationTarget">
        <img src="<%= asset_path('/home/about4.jpg') %>" alt="">
        <div class="contentsText">
          <h2>④Ｑ＆Ａ機能</h2>
          <p>
            ペットに関して悩みが出た時に、飼育本がなかったり調べても出てこなかったりする経験ないですか？<br>
            そういう時はＱ＆Ａで質問投稿してみましょう。<br>
            他の飼い主さんや経験者同士で悩みを相談できます。<br>
            もちろん、自身の経験から回答できる時はぜひお願いします!
          </p>
        </div>
      </li>
    </ul>

    <div class="about-slide">
      <P style="text-align:center;">
        どうぶつの村は、犬や猫などのメジャーなペットではなく、<br>
        珍しいペット(エキゾチックアニマル)を飼っている人同士が交流出来る場所となっております。<br>
      </p>
    </div>
  </main>
</body>
