<div>
  <div class="top-box">
    <div class="top-img top-img1"></div>
    <div class="top-img top-img2"></div>
    <div class="top-img top-img3"></div>
  </div>
</div>

<div class="top-body mt-5">
</div>