<div class="mt-4 pet-form">
  <label>ペットのプロフィール画像</label><br>
  <%= f.attachment_field :pet_image %>
</div>
<div class="my-3 pet-form">
  <label>ペットのお名前</label><br>
  <%= f.text_field :pet_name %>
</div>
<div class="my-3 pet-form">
  <label>ペットの性別</label><br>
  <%= f.select :gender, [["未選択", "未選択"], ["男の子","男の子"],["女の子","女の子"],["性別不明","性別不明"]] %>
</div>
<div class="my-3 pet-form">
  <label>ペットの種類</label><br>
  <%= f.text_field :type_name %>
</div>