<% @pets.each do |pet| %>
 <div>
   <div>
     <%= attachment_image_tag pet, :image, :fill, 50, 50, fallback: "no-image-square.jpeg" %>
   </div>
   <div>
     <div><%= pet.pet_name %></div>
     <div><%= pet.type_name %></div>
     <div><%= pet.gender %></div>
   </div>
 </div>
<% end %>