<div class="container">
  <div>
    <h3><%= @pet.pet_name %>についての編集</h3>
  </div>
  <%= form_with model: @pet, url: pet_path, local: true do |f| %>
    <%= render 'users/pets/pet_form', f: f %>
    <div>
      <%= f.submit '編集', class:"btn btn-outline-secondary", data: {"turbolinks" => false} %>
    </div>
  <% end %>
</div>