/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 * {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
 }
// 全体
 body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #8e7f76;
}

 // ヘッダー
 // ログイン前
 .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color : #fff;
  font-size: 30px;

 }
 .logo:hover {
  text-decoration: none;
 }

 //　ハンバーガーボタン
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  left  : 30px;
  top   : 9px;
  width : 60px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  background: #706158;
  border-radius: 5px;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 40px;
  height  : 2px ;
  left    : 10px;
  background : #fff;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 13px;
}
.hamburger span:nth-child(2) {
  top: 23px;
}
.hamburger span:nth-child(3) {
  top: 33px;
}
.hamburger span:nth-child(3)::after {
 content : "Menu";
 position: absolute;
 top  : 5px;
 left : 1px;
 color: #fff;
 font-size: 0.8rem;
 text-transform: uppercase;
}
// ナビ開いてる時のボタン
.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
  width : 15px;
  -webkit-transform: translate(17px,5px) rotate(45deg);
  -moz-transform   : translate(17px,5px) rotate(45deg);
  transform        : translate(17px,5px) rotate(45deg);
}
.hamburger.active span:nth-child(1) {
  -webkit-transform: translate(27px,5px) rotate(45deg);
  -moz-transform   : translate(27px,5px) rotate(45deg);
  transform        : translate(27px,5px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  -webkit-transform: translate(27px,-5px) rotate(-45deg);
  -moz-transform   : translate(27px,-5px) rotate(-45deg);
  transform        : translate(27px,-5px) rotate(-45deg);
}
.hamburger.active span:nth-child(3)::after {
 content : "Crose";
 transform: translateY(0) rotate(45deg);
 top  : -6px;
 left : -39px;
}

// ナビを開いてる時のメニュー
.nav-box1 {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  background: #706158;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s;
  argin: 0 auto;
  padding: 0;
  width: 100%;
}
.nav-box1 li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #D3D3D3;
}
.nav-box1 li:last-child {
  padding-bottom: 0;
  border-bottom : none;
}
.nav-box1 li:hover {
  background: #F5F3F4;
}

.link1 {
  display: block;
  color: #fff;
  padding: 1.4em 0;
  text-decoration: none;
}
.link1:hover {
  color: #706158;
  text-decoration: none;
}

// このクラスを、jQueryで付与・削除する
.nav-box1.active {
  transform: translateX(0%);
}

// ログイン後　ヘッダー
.nav-box2 {
  width: 100%;
}
.nav-menu {
  display: block;
  padding: 10px;
  width: 20%;
  float: left;
  text-align: center;
  // カーソルを離した際のアニメーションの速度
  transition:.2s all;
}
.nav-menu p {
  height: 10px;
  font-weight: 300;
}
.nav-menu .link2 {
  display: block;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.navbar-2:hover .nav-menu {
  // 1つのボタンにカーソルがある時、他残りのメニューが薄くなる
  opacity  :.3;
}
.navbar-2:hover .nav-menu:hover {
  // メニューボタンのホバーアクション
  transition: .4s;
  transform : scale(.9);
  background-color: #7a6b62;
  opacity   : 1;
  box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.3) inset;
}

// 背景
main {
  flex: 1;
  margin: 0 1%;
  background-color: #fff7ee;
}
// メインの大きさ
.container-size {
  padding-bottom: 30px;
  max-width: 1775px;
}

// サイドメニュー
.side-menu {
  margin-left: 0;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
}
.menu-user {
  padding-top: 20px;
}

// 文字
.time {
  color: gray;
  font-size: 14px;
}
.icon {
  border-radius: 50px;
}
.icon-1 {
  border-radius: 90px;
}

// テキストの改行
.text-body {
  white-space: pre-wrap;
}