// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップの画像
.top-box {
  margin: auto;
  margin-right: 6%;
  height: 650px;
  width: 90%;
  display: flex;
}
.top-img {
  margin: auto;
  width: 34%;
  height: 650px;
  margin-left: 1%;
  background-color: orange;
  transform:skewX(-5deg);
}
.top-img1 {
  background-image: url(asset_path('home/sekisei_inko.jpg'));
  background-size: cover;
  background-position: -300px 0;
  position: relative;
}
.top-img2 {
  background-image: url(asset_path('home/hedgehog.jpg'));
  background-size: cover;
  background-position: -150px 0;
  position: relative;
}
.top-img3 {
  background-image: url(asset_path('home/hyomon_tokage_modoki.jpg'));
  background-size: cover;
  background-position: -350px 0;
  position: relative;
}

// トップの詳細
.top-body {
  width : 100%;
  height: 500px;
  background-color: #D3D3D3;
}
