// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-box {
  margin: 18px auto;
  padding: 10px 15px;
  box-shadow: 0 0 8px gray;
  border-radius: 20px;
  background-color: #F5F3F4;
}