// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// コメントのレイアウト
.comment-box {
  position: relative;
}
.comment-text {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  background-color: #F5F3F4;
  margin-left: 84px;
  box-shadow: 6px 6px 0px 0px #cabbb2;
}
.comment-icon {
  position: absolute;
  top: 0;
}
.radius-border {
  border: 2px solid #7a6b62;
}

// コメントの吹き出し 三角部分
.comment-text::before {
  content: '';
  position: absolute;
  z-index: 4;
  display: block;
  width: 0;
  height: 0;
  left: 70px;
  top: 20px;
  border-right: 15px solid #F5F3F4;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
// コメント吹き出し 三角部分の影
.comment-text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 72px;
  top: 27px;
  border-right: 13px solid #cabbb2;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}