// Place all the styles related to the users/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-box {
  margin: 2% 0;
  padding: 10px;
  box-shadow: 0 0 8px gray;
  border-radius: 20px;
  background-color: #F5F3F4;
}

.text-link {
  color: black;
}
.text-link:hover {
  color: #7a6b62;
  text-decoration: none;
}
.question-title {
  font-size: 25px;
  color: #017465;
  font-family: "えるまー";
}
.question-title:hover {
  text-decoration: none;
}

.show-question-title {
  border-top: dashed 2px gray ;
  border-bottom: dashed 2px gray ;
  padding: 5px 0;
}

.favorite-size {
  height: 30px;
}